body {
    margin: 0;
    padding: 0;
    /* background-image: url('./assets/backgroundImages/8_png_by_cleopatrawolf_dfuq867.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.lobbyBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.lobbyBackgroundImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button-container {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}


.back-to-weather {
    background-color: #0077cc;
    color: #fff; 
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.animal-lobby-container {
    position: absolute;
    width: 80%;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.animal-image img {
    display: flex;
    flex-direction: row;
    max-width: 30%;
}