body {
    margin: 0;
    padding: 0;
    /* background-image: url('./assets/backgroundImages/8_png_by_cleopatrawolf_dfuq867.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.lobby-background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.lobby-background-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button-container {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}


.back-to-weather {
    background-color: #0077cc;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.animal-lobby-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-height: 80vh;
    background: #72A0C1;
    opacity: .8;
}

.animal-image img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.animal-name {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.delete-animal-button {
    width: 100%;
    text-align: center;
}

.animalLobbyNavBar {
    position: absolute;
    width: 375px;
    height: 38px;
    top: 635px;
    background-color: rgba(0, 0, 0, 0.4);
}

.backToWeather {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgb(248, 246, 243);
    border: none;
}

.backToWeather svg {
    width: 800%;
    height: 800%;
}