@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap');

.homeWrapper {
    max-width: 375px;
    max-height: 667;
}

.homeWrapper img {
    height: fit-content;
}

.backgroundImageWrapper {}

.backgroundImage {
    height: max-content;
}

.animal img {
    position: absolute;
    top: 57%;
    left: 30%;
    transform: translate(-50%, -65%);
    width: 60%;

    border-radius: 0%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        border: 4px solid rgba(243, 229, 171, 0.7);
    }

    70% {
        transform: scale(1);
        border: 4px solid rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        border: 4px solid rgba(0, 0, 0, 0);
    }
}

/* CURRENT WEATHER COMPONENT*/
.weatherCard {
    width: 375px;
    height: 200px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
}

.header {
    color: rgb(239, 239, 245);
    font-size: 22px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.cardBody {
    margin-bottom: 0px;
}

.tempIconBucket {
    justify-content: center;
    display: flex;

}

.iconContainer {
    width: 60px;
    height: 50px;
    /* border: 1px solid black; */
}

.iconContainer img {
    width: 100%;
    height: auto;
    padding-top: 5px;
    /* border: 1px solid black; */

}

.temp {
    padding-left: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 50px;
    /* border: 1px solid black; */

}

.description {
    text-align: center;
    color: rgba(231, 233, 234, 0.633);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding-top: 0px;
}


.highLowBox {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.high {
    padding-right: 3px;
    color: antiquewhite;
}

.low {
    padding-left: 3px;
    color: antiquewhite;
}

.humidity {
    text-align: center;
    color: antiquewhite;
    font-size: 12px;
    padding-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.hourlyForecastLabel {
    position: absolute;
    color: aliceblue;
    color: #fff;
    max-width: 375;
    margin-top: 174px;
    padding-left: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

/* HOURLY WEATHER COMPONENT*/
.divForHourlyMap {
    align-content: center;
    position: absolute;
    padding-left: 25px;
    max-width: 325px;

}

.hourlyWeatherMap {
    display: flex;
    margin-top: 190px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.hourlyWeatherMap::-webkit-scrollbar {
    width: 0px
}


.hourlyWeatherCard {
    height: 73px;
    width: 65px;
    padding-top: 4px;
    flex: 0 0 auto;
    text-align: center;
    background-color: rgba(180, 0, 0, 0.09);
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 11px;
}

.hourlyIcon {
    height: 40px;
    width: 40px;
    justify-content: center;
}

.hourlyIcon img {
    width: 100%;
    height: auto;
    padding-left: 12px;
}

.hourlyTemp {
    font-size: 12px;
    font-weight: 700;
}


.loader {
    position: absolute;
    margin-left: 112.5px;
    margin-top: 228.5px;
}

/* BOTTOM NAVBAR */
.loggedOutNavBar {
    position: absolute;
    width: 375px;
    height: 35px;
    top: 635px;
    background-color: rgba(0, 0, 0, 0.4);

}


.loginButton {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgb(248, 246, 243);
    border: none;
    height: 15px;
    width: 15px;
}

.loginButton svg {
    width: 900%;
    height: 900%;
}


.loggedInNavBar {
    position: absolute;
    width: 375px;
    height: 35px;
    top: 635px;
    background-color: rgba(0, 0, 0, 0.4);
}

.animalLobbyButton {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 24px;
    top: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgb(248, 246, 243);
    border: none;
}

.animalLobbyButton svg {
    width: 800%;
    height: 800%;
}

.logoutButton button {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgb(248, 246, 243);
    border: none;
    height: 15px;
    width: 15px;
}

.logoutButton svg {
    width: 900%;
    height: 900%;
}

.playButton button {
    position: absolute;
    top: 637px;
    right: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(42, 150, 190);
    color: rgb(248, 246, 243);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 12px;
}

.pauseButton button {
    position: absolute;
    top: 637px;
    right: 40px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(42, 150, 190);
    color: rgb(248, 246, 243);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 12px;
}

/* MUSIC PLAYER */

.playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
}

.subTitle {
    margin-top: -1em;
    color: #4f4f4f;
}

.time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
}

.timeline {
    width: 80%;
    background-color: #27ae60;
}

input[type="range"] {
    background-color: #27ae60;
}

@media (max-width: 900px) {
    .component {
        width: 50%;
    }
}