.hideImgIcon {
    top: 0px;
    height: 40px;
    width: 375px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

.hideNavBar {
    top: 607px;
    height: 60px;
    width: 375px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}