@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    text-align: center
}

.blobs div {
    display: block;
    position: absolute
}

h1 {
    background: rgb(255, 253, 253);
    width: 390px;
    height: 200px;
    margin: 0;
    padding: 0px;
    display: flex;
    font-family: 'Titan One', cursive;
    font-size: 90px;
    font-weight: 700;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center
}

h1 span {
    width: 100%;
    position: relative;
}

h1 span:before {
    background: linear-gradient(45deg, #d1cda6, #e2aa7c, #da6c64);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    mix-blend-mode: screen
}

[class*="blobs"] {
    mix-blend-mode: color;
    animation: blobs 10s ease-in-out infinite alternate
}

.blobs_1 {
    background: #4876e2;
    width: 60px;
    height: 60px;
    top: 90px;
    left: 210px
}

.blobs_2 {
    background: #3879be;
    width: 80px;
    height: 80px;
    top: 120px;
    left: 300px
}

.blobs_3 {
    background: #3267c8;
    width: 60px;
    height: 60px;
    top: 110px;
    left: 20px
}

.blobs_4 {
    background: #4079e2;
    width: 100px;
    height: 50px;
    top: 115px;
    left: 100px
}

.blobs_5 {
    background: #3f81d7;
    width: 50px;
    height: 50px;
    top: 55px;
    left: 70px
}


@keyframes blobs {
    0% {
        border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%
    }

    10% {
        border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%
    }

    20% {
        border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%
    }

    30% {
        border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%
    }

    40% {
        border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%
    }

    50% {
        border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%
    }

    60% {
        border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%
    }

    70% {
        border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%
    }

    80% {
        border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%
    }

    90% {
        border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%
    }

    100% {
        border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%
    }
}

.usernameLogin {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.passwordLogin {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.submitButtonLogin {
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.signUpPrompt {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    left: 85px;
    height: 10px;
    display: flex;
    justify-content: center;
}

.signUpLink {
    padding: 0px;
    margin-top: 16px;
    margin-left: 4px;
    color: #505fac;

}

.loginNavBar {
    position: absolute;
    width: 375px;
    height: 55px;
    bottom: 0;
    /* top: 635px; */
    background-color: rgba(0, 0, 0, 0.4);
}