.home-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.t-rex {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    position: absolute;
    top: 20px;
    left: center;
    z-index: 1;
}

.background-image {
    background-image: url('./assets/4_by_cleopatrawolf_dfuq86t.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: relative;
}
