.home-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blue-trex-roar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-image {
    background-image: url('./assets/backgroundImages/4_edit_by_cleopatrawolf_dfut2ry.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: relative;
}

/* CURRENT WEATHER COMPONENT*/
.weatherCard {
    width: 85%;
    height: 275px;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header {
    /* background-color: #7b9ed7; */
    color: rgb(239, 239, 245);
    padding: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    /* border: 1px solid grey; */

}

.cardBody {
    padding: 15px;
}

.tempIconBucket {
    margin-top: 0px;
    justify-content: center;
    display: flex;
    /* border: 1px solid grey; */
}

.icon {
    text-align: center;
    padding: 10px;
}

.temp {
    padding-left: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 60px;
}

.description {
    text-align: center;
    color: rgba(231, 233, 234, 0.633)
}

.humidity {
    text-align: center;
    color: antiquewhite;
    font-size: 14px;
}

.highLowBox {
    display: flex;
    justify-content: center;
}

.high {
    padding-right: 3px;
    color: antiquewhite;
}

.low {
    padding-left: 3px;
    color: antiquewhite;
}

/* HOURLY WEATHER COMPONENT*/

/* .app-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    position: absolute;
    top: 20px;
    left: center;
    z-index: 1;
} */